/* Add your custom styles here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; /* Light gray background */
    color: #333; /* Dark text color */
    background-image: url('background.jpg'); /* Replace with your background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    text-align: center;
    padding: 50px 0;
}

header img {
    max-width: 150px; /* Adjust as needed */
    height: auto;
}

.description {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}


/* Style the CTA (Call to Action) section */
.cta {
    max-width: 800px; /* Match the max-width of the description section */
    margin: 0 auto; /* Center align the content */
    padding: 30px;
    text-align: left;
    background-color: #0056b3; /* Semi-transparent white background */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    
}

.cta h2 {
    font-size: 24px;
    color: aliceblue;
}

.cta p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
    color: aliceblue;
}

#email-form {
    margin-top: 20px;
}

#email {
    width: 100%;
    max-width: 300px; /* Adjust the width as needed */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}



footer {
    background-color: #333; /* Dark background for footer */
    text-align: center;
    padding: 10px 0;
    color: white; /* Text color for footer */
}
